body {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

input { 
  font-size: 22px;
  padding: 30px;
  margin: 30px;
  flex: 1;
}

div, input, section, html, form, body { display: flex; box-sizing: border-box; }
